body,
html {
  padding: 0;
  margin: 0;
  background: rgb(238, 238, 238);
}

a {
  color: #333;
  text-decoration: none;
}

.clear {
  clear: both;
}

.margin_footer_menu {
  height: 15.5vw;
}

.red {
  color: #e43017;
}

.main_long_btn {
  display: block;
  width: 94.4vw;
  height: 11.1vw;
  margin: 4vw auto 0;
  color: #fff;
  background-color: #f95740;
  border-radius: 11.1vw;
}
