body,
html {
  padding: 0;
  margin: 0;
  background: rgb(238, 238, 238);
}

a {
  color: #333;
  text-decoration: none;
}

.clear {
  clear: both;
}

.margin_footer_menu {
  height: 15.5vw;
}

.red {
  color: #e43017;
}

.public_header {
  height: 12vw;
  padding: 0 3vw;
  line-height: 12vw;
  text-align: center;
  background: #e43017;

  a {
    float: left;
    height: 6vw;
    margin-top: 3vw;

    img[alt="left_icon"] {
      display: block;
      width: 6vw;
    }
  }

  h2 {
    font-size: 4vw;
    font-weight: normal;
    color: #fff;
  }
}

.main_long_btn {
  display: block;
  width: 94.4vw;
  height: 11.1vw;
  margin: 4vw auto 0;
  color: #fff;
  background-color: #e43017;
  border-radius: 11.1vw;
}
