@charset 'utf-8';

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset,
img {
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

var,
em,
strong,
b,
i {
  font-style: normal;
}

address,
caption,
cite,
code,
dfn,
pre,
em,
strong,
th,
var,
b,
i,
optgroup,
span {
  font-style: inherit;
  font-weight: inherit;
}

del,
ins {
  text-decoration: none;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q::before,
q::after {
  content: '';
}

abbr,
acronym {
  font-variant: normal;
  border: 0;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
}

input,
button,
textarea,
select {
  *font-size: 100%;
  border: none;
  border-radius: 0;
  outline: none;
}

input[type="text"] {
  -webkit-appearance: none;
}

.clearfix::after {
  display: block;
  height: 0;
  clear: both;
  content: "\200B";
}

.clearfix {
  *zoom: 1;
}

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
img {
  display: inline-block;
}
